<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jschdev.miLampara" >

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.flash" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_lamp"
        android:label="@string/app_name"
        android:name="com.jschdev.miLampara.acra.MyApplication"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.jschdev.miLampara.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.jschdev.miLampara.ColorsActivity"
            android:label="@string/title_activity_colors" >
        </activity>
    </application>

</manifest>
